@charset "UTF-8";

body{
    background-color: rgba(245, 202, 202, 0.781);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

h1 {
    color: #000000;
    background-color: lightblue;
}

h2{
    color: blue;
}

p{
    text-align: justify;
}